liferay-swagger-codegen.*/bin/
liferay-swagger-codegen.*/.classpath
liferay-swagger-codegen.*/.settings/
liferay-swagger-codegen.*/.project
liferay-swagger-codegen.*/target
liferay-swagger-codegen.*/.factorypath

.factorypath
bin/
.classpath
.settings/
.project
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
